<div class="container">
  <% if user_signed_in? %>
    <div class="box">
      <h3>Welcome To Dashbord</h3>
      <br />
      <%= link_to "CLASS", welcome_path(:id) , class:'btn btn-success'  %>
    <% end %>
  </div>
</div>


