<table class="table table-striped">
  <thead>
   <tr>
     <th>Student Name</th>
     <th>Standard</th>
     <br />
    </tr>
  </thead>
  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.student.first_name %></td>
        <td><%= checkin.student.section_id %></td>
      </tr>
    <% end %>    
  </tbody>
</table>

