<table class="table table-striped">
  <thead>
   <tr>
     <th>Student Name</th>
     <th>Standard</th>
  
     <br />
    </tr>
  </thead>
  <tbody>
    <% @checkin.each do |checkin| %>
      <tr>
        <td><%= checkin.name %></td>
        <td><%= checkin.section_id %></td>
      </tr>
    <% end %>    
  </tbody>
</table>



<div class="container">
    <%#= turbo_stream_from "checkins" %>
    <%= render @all_checkins %>
  </div>
