<table class="table table-striped">
  <thead>
   <tr>
     <th>Student Name</th>
     <th>Standard</th>
     <th>Section</th>
     <br />
    </tr>
  </thead>
  <tbody>
    <% @all_checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.student.first_name %></td>
        <td><%= checkin.student.section.standard %></td>
        <td><%= checkin.student.section.section %></td>
      </tr>
    <% end %>    
  </tbody>
</table>
<div class="container">
  <%= turbo_stream_from "checkins" %>
  <%#= render @all_checkins %>
</div>