<nav class="navbar navbar-dark bg-custom-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#a">School</a>
    <% if current_user %>
      <%= button_to "log out", destroy_user_session_path, method: :delete , class:'btn btn-outline btn-secondary' %>
    <% end %>
  </div>
</nav>
